/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */
	 ul.bottomSectionNav {
			display: none;
		}
		
		p.skipSectionPhone {
			display: none;
		}
		
		.mobileTitle {
			display: none;
		}
		
	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	 ul.bottomSectionNav {
			position: absolute;
			left: -3000px;
		}
		
			.chart {
			width: 100%;
		}

	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		
		 ul.bottomSectionNav {
			position: absolute;
		}
		
		.chart {
			width: 100%;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		
		.sidenav {
		border-top: 1px dotted #999;
		border-bottom: 1px dotted #999;	
		}
		
		 ul.bottomSectionNav {
			position: relative;
			left: 0;
			border-top: 1px dotted #999;
			border-bottom: 1px dotted #999;	
		}

		ul.bottomSectionNav h3 {
			font-size: 1.5em;
		}

		.mobileTitle {
			margin-top: -0.6em;
			display: block;
			text-align: right;
			font-size: 0.75em;
		}

		.mobileTitleHome {
			display: block;
			position: absolute;
			left: -3000px;
		}
		
		.content {
		padding-left: 0;
		}
		
		 ul.bottomSectionNav {
			position: relative;
			left: 0;
			text-align: center;
		}
		
		ul.bottomSectionNav li a {
			border-bottom: 1px dotted #999;
			display: block;
			padding: 10px 0;
			margin-bottom: -13px;
		}
		
		ul.bottomSectionNav li ul {
		margin-top: 12px;
		margin-left: 0px;
		}
		ul.bottomSectionNav li ul li {
			height: 30px;
		}
		
		ul.bottomSectionNav li ul li a {
			font-size: 1.1em;
		}

		ul.bottomSectionNav li a:hover, ul.bottomSectionNav li ul li a:hover {
			background: #CCC;
		}

		p.skipSectionPhone {
			display: block;
			text-align: center;
		}

	div#sidenav h3 {
		margin-top: 0em;
	}
		
		.hideDivForMobile {
			display: none;
		}
		.showDivForMobile {
		display:block;
		}
		
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

		
		.red {
			background: red;
			}
		
		.nav {
			position: absolute;
			left: -3000px;
		}

		.sectionNav {
			display: inline;
		}
		
		.sidenav {
		border-top: 1px dotted #999;
		border-bottom: 1px dotted #999;
		}
		
		 ul.bottomSectionNav {
			position: relative;
			left: 0;
			text-align: center;
		}
		
		ul.bottomSectionNav li a {
			border-bottom: 1px dotted #999;
			display: block;
			padding: 10px 0;
			margin-bottom: -13px;
		}
		
		ul.bottomSectionNav li ul {
			margin-top: 12px;
			margin-left: 0px;
		}
		ul.bottomSectionNav li ul li {
			height: 30px;
		}
		
		ul.bottomSectionNav li ul li a {
			border-bottom: 1px dotted #999;
			font-size: 1.1em;
		}
		
		ul.bottomSectionNav li a:hover, ul.bottomSectionNav li ul li a:hover {
			background: #CCC;
		}
		
		.content {
		padding-left: 0em;
		}
		
		.mobileTitle {
			display: block;
			padding: 0;
			margin: -0.75em;
			font-size:0.5em;
			text-align: center;

		}

		.mobileTitleHome {
			display: block;
			position: absolute;
			left: -3000px;
		}
				
/* Swap to stacked header images for smallest mobile size */

		.header {
			background: none;
		}

		p.skipSectionPhone {
			display: block;
			text-align: center;
			font-size: 1.2em;
			font-weight: bold;
		}
		
		.chart {
			width: 99%;
		}

		.hideDivForMobile {
			display: none;
		}

		.showDivForMobile {
		display:block;
		}
	
	div.footer {
		text-align: center;
	}
	
	h2.PDFheader{
	margin-top:0em;
}


		
		/* Shrink text for certain tables at mobile size */
		#roles-table1, #table-1, #table-4, #table-3, #table-5, #table-6, #table-7, #table-8, #table-13,#table-9, #table-10, #table-11, #table-12, #table-14, #table-15, #table-16, #table-17, #table-18, #table-19, #table-20, #table-21, #table-22, #table-23, #table-24, #table-28, #table-29, #table-30 {
			font-size: 0.8em;
			line-height: 1.3em;
		}

/* Responsive tables CSS 

	table.responsive { margin-bottom: 0; background: red; font-family:"Times New Roman", Times, serif; }
	
	.pinned { position: absolute; left: 0; top: 0; background: #fff; width: 35%; overflow: hidden; overflow-x: scroll; border-right: 1px solid #ccc; border-left: 1px solid #ccc; }
	.pinned table { border-right: none; border-left: none; width: 100%; }
	.pinned table th, .pinned table td { white-space: nowrap; }
	.pinned td:last-child { border-bottom: 0; }
	
	div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; border-right: 1px solid #ccc; }
	div.table-wrapper div.scrollable table { margin-left: 35%; }
	div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }	
	
	table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
	table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td { display: none; }
	
 End responsive tables CSS */
 
		

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/